#form
/*Create*/
.btn-custom {
  background-color: #6c757d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-custom:hover {
  background-color: #ffc107;
}

.infra{
  font-size: 12px;
}

.page-number{
  font-size: 12px;
}

.form-control.me-8 {
  padding: 10px 15px;
}






